body {
  margin-top: 30px;
  padding: 10px;
  font-family: Open Sans, sans-serif;
  max-width: 800px;
  margin: auto;
}

img {
  text-align: center;
  margin: auto;
  height:300px;
  margin-top: 50px;
}
