body {
  padding: 10px;
  font-family: Open Sans, sans-serif;
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

img {
  text-align: center;
  margin: auto;
  height:300px;
}

h1 {
  margin-bottom: 0px;
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
  margin-bottom: 0px;
}

h3 {
  font-weight: 400;
  font-size: 0.8em;
  margin-top: 0px;
}

.book-info-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  /*flex-direction: row-reverse;*/
}

.book-titles {
  margin-left: 30px;
}

.book-image {
  border: #e6e6e6 solid 1px;
}

hr {
  margin-top: 40px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}