body {
	font-family: Source Sans Pro;
}
ul {
	list-style-type: none;
}

.orangeBox {
	background-color: orange;
	height: 200px;
	width: 200px;
}

.blueBox {
	background-color: blue;
	height: 200px;
	width: 200px;
}