body {
	font-family: "Courier New";
	color: black;
	background-color: white;
}

img {
	width: 100%;
}

a {
	background-color: red;
	color: yellow;
}

a:hover { 
    color: white;
}

.surf-dude{
	height: 100px;
	width: 150px;
}