body {
	font-family: "chalkboard";
	color: blue;
	background-color: yellow;
}

img {
	width: 100%;
}

a {
	background-color: black;
	color: yellow;
}

a:hover { 
    color: white;
}

.surf-dude{
	height: 100px;
	width: 150px;
}
