darkerblack = #7C7C7C
lighterblack = #9D9D9D
lightestGray = #CFCFCF
blue = #81A8C5

body
  font-family: Lato
  color: blue
  padding-top 30px

#container
  max-width: 1200px
  margin-left: auto
  margin-right: auto
  padding: 0px 30px

ul
  list-style-type: none

a
  text-decoration: none

li
  cursor pointer

//Mode select screen
.circularPhoto
  height:200px


//Project title
h2
  margin: -10px
  font-size 3em
  font-weight: 600

//"Projects" and "Skills" heading
h3
  margin: 0px 0px 0px 0px
  font-size: 1.2em
  font-weight: 300
  color darkerblack


h4
  margin: 5px 0px 0px 0px
  font-weight: 600
  font-size 1.4em
  
h5
  margin: 0px
  font-weight: 300

p
  font-weight: 300
  color: lighterblack

//******GENERAL USE STYLING******//


//******FOR THE PROJECTS MENU******//  
.menuList
  width: 20%
  padding: 0px
  margin: 0px
  margin-right: 30px
  display: inline-block
  vertical-align:top
  position fixed
  top 15%

#menuKohHeading
  font-size 1.7em
  font-weight 200
  margin-bottom 40px
  
#projectHeading
  color blue
  margin-bottom 10px
  font-weight 300
  font-size 1.2em

a
  color lightestGray
  font-weight 200
  line-height 1.8em
  font-size 1.1em
  transition: color 0.1s linear;
  &:hover
    color darkerblack
    border-color darkerblack
  &.active
    color darkerblack 

  
.projectDetail
  float: right
  width: 80%
  display: inline-block
  vertical-align:top
  text-align center
  img
    margin 10px 0px
    

//*****FOR IMAGE MANIPULATION FOR PROJECT DETAILS*****//
.left
  float left

.right
  float right  

.fullWidth
  width 100%

.halfWidth
  width 48%
  display inline-block

.thinBorder
  border-style solid
  border-color lightestGray
  border-width 1px

.center
  margin 15px 0px
  display flex
  justify-content center

//our buttons for accessing code, page, etc
.button
  border 1px solid lightestGray
  border-radius 5px
  text-decoration: none
  color lightestGray
  padding 10px 20px
  margin 0 10px
  transition: color 0.1s linear;
  &:hover
    color darkerblack
    border-color darkerblack
  i
    margin-right 8px
  

//WHALE//
.fixed
  position: fixed
  top: 20px
  margin-right 20%
  background-color: #0f0 ! important
  
#whale{
  width:100%;
  bottom: 0;
  position: fixed;
  left: 0;
  -webkit-animation: whaleAni 5s linear 0s infinite alternate-reverse; /* Chrome, Safari, Opera */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes whaleAni {
    0%   {left:0px; bottom:0px;}
    25%  {left:-20px; bottom:-20px;}
    50%  {left:-50px; bottom:-25px;}
    75%  {left:-30px; bottom:-30px;}
    100% {left:-20px; bottom:-10px;}
}