body
  font-family: Source Sans Pro
  color: #3C8DA6

#container
  max-width: 900px
  margin-left: auto
  margin-right: auto

ul
  list-style-type: none

//Project title
h2
  margin: 0px

//"Projects" and "Skills" heading
h3
  margin: 0px 0px 0px 0px
  font-size: 1.5em
  font-weight: 300

h4
  margin: 5px 0px 0px 0px
  font-weight: 600

h5
  margin: 0px
  font-weight: 300

p
  font-weight: 300

.skillTable
  font-weight: 300

.orangeBox 
  background-color: orange
  height: 200px
  width: 100%


.blueBox
  background-color: blue
  height: 200px
  width: 100%
  
.menuList
  width: 20%
  padding: 0px
  margin: 0px
  margin-right: 30px
  display: inline-block
  vertical-align:top
  
.projectDetail
  width: 70%
  display: inline-block
  vertical-align:top

.skillTable
  margin-bottom: 40px