#main-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

#content-container {
  flex: 1;
  padding-left: 200px;
  padding-top: 50px;
  transition: all 0.2s ease-out;
}
.bm-overlay {
  background: transparent !important;
}

#menu-list {
  list-style-type: none;
  padding: 0;
  margin-top: 25px;
  position: absolute;
}

@media screen and (max-width: 1100px) and (min-width: 740px) {
  #main-container {
    padding: 0 30px;
  }
  #content-container {
    padding-left: 170px;
  }
}

/* Hamburger menu appears at this point */
@media screen and (max-width: 740px) {
  .bm-item-list {
    margin-top: 60px;
  }

  .menu-sub {
    margin-top: -75px;
  }

  #Menu {
    background-color: white;
    /*transform: translate3d(-100%, 0px, 0px) !important;*/
    margin-left: -30%;
  }
  
  #menu-icon {
    visibility: visible;
    opacity: 1;
  }

  #main-container {
    padding: 0 20px;
  }
  #content-container {
    padding-left: 0px;
    padding-top: 20px;
  }
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3) !important;
  }
}