/* #welcome-message {
  font-family: 'DM Mono', 'Courier New', Courier, monospace;
  width: 100%; */
  /* height: 100vh; */
  /* text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 48%;
} */

#welcome-email {
  font-weight: 300;
}

#main-container {
  max-width: 1800px;
  margin: auto;
  padding: 0 20px;
  margin-top: 100px;
}

#content-container {
  flex: 1;
  padding-left: 200px;
  /*padding-top: 50px;*/
  transition: all 0.2s ease-out;
}
.bm-overlay {
  z-index: 1 !important;
  background: transparent !important;
}

#menu-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  position: absolute;
}

.no-transition {
  transition: none !important;
}




@media screen and (max-width: 1500px) and (min-width: 1100px) {
  #main-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    margin-top: 0px;
  }

  #content-container {
    flex: 1;
    padding-left: 200px;
    /*padding-top: 50px;*/
    transition: all 0.2s ease-out;
  }
}


@media screen and (max-width: 1100px) and (min-width: 740px) {
  #main-container {
    padding: 0 30px;
    margin-top: 0px;
  }
  #content-container {
    padding-left: 170px;
  }
}

/* Hamburger menu appears at this point */
@media screen and (max-width: 1024px) {
  .bm-item-list {
    margin-top: 60px;
  }

  #Menu .menu-sub {
    margin-top:  -45px;
  }

  #menu-bar {
    opacity: 1;
  }

  #menu-ball {
    display: none;
  }

  #Menu {
    background-color: white;
    /*transform: translate3d(-100%, 0px, 0px) !important;*/
    margin-left: -30%;
    margin-top: -30px;
    padding-top: 30px;
  }

  #menu-icon {
    visibility: visible;
    opacity: 1;
  }

  #main-container {
    padding: 0 10px;
    margin-top: 0px;
  }
  #content-container {
    padding-left: 0px;
    padding-top: 10px;
  }
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3) !important;
  }
}
