body {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  font-family: Open Sans, sans-serif;
}


/*.LazyLoad {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.LazyLoad.is-visible {
    opacity: 1;
}*/

/*Project Content Styling*/
.project-content .full{
  width: 100%;
}

.project-content .half {
  width: 49%;
  height: 100%;
  flex-grow: 1;
  min-width: 200px
}

.project-content .half-container {
  display: flex;
  flex-wrap: wrap;
}

.project-content h1{
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.4em;
}

.project-content h2 {
  text-align: left;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.project-content h6 {
  margin: 0px;
  text-align: center;
  font-size: 0.6em;
  font-weight: 400;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.project-content p {
  margin: 0px auto;
  margin-bottom: 15px;
  font-size: 0.7em;
  font-weight: 400;
}

.project-content p a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  cursor: auto;
}

.project-content p a:hover {
  text-decoration: underline;
}

.project-content .text-container {
  max-width: 400px;
  margin: auto;
  margin-bottom: 40px;
}

.project-content .bg-image {
  /*transition: background-image 0.5s ease-in;*/
  padding-top: 66.64%;
  width: 100%;
  background-size: contain;
}

.project-content .r235 {
  padding-top: 42.55%;
  width: 100%;
}

.project-content .r169 {
  padding-top: 56.25%;
  width: 100%;
}

.project-content .text-paragraphs {
 margin-top: 40px;
 margin-bottom: 40px;
}

/*Autosize code from: https://github.com/CookPete/react-player/issues/145*/

.project-video-wrapper{
  position: relative;
  padding-top: 56.25%;
}

.project-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#footer {
  margin: 50px 0px;
}

#footer a {
  font-weight: 300;
  font-size: 0.7em;
  text-decoration: none;
  color: #a3a3a3;
}


#footer a:hover {
  text-decoration: underline
}