#Menu {
  transition: all 0.2s ease-out;
}

#Menu a {
  text-decoration: none;
  color: #a3a3a3;
  font-weight: 300;
}

#Menu .active{
  color: #000000;
  font-weight: 600;
  transition: color 0.3 ease-in-out;
}

#Menu .menu-sub{
  list-style: none;
  padding-left: 20px;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  display: block;
}

#Menu .activeSubMenu {
  opacity: 0.3;
  visibility: visible;
}

#Menu .menu-title {
 margin: 5px 0px;
}

#Menu .menu-item {
 margin: 5px 0px;
}
