.Menu a {
  text-decoration: none;
  color: #a3a3a3;
  font-weight: 300;
}

.Menu .menu-sub{
	list-style: none;
	padding-left: 20px;
}

.Menu .active{
	color: #000000;
	font-weight: 600;
}


.Menu .menu-sub {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
    position: fixed;
    display: block;
}

.Menu .activeSubMenu {
	opacity: 0.3;
	visibility: visible;
}

.Menu .menu-title {
	transition: margin 0.3s ease-in-out;
}