.thumbnail a{
  color: #000000;
  transition: color 0.2s;
  cursor: pointer;
}

.thumbnail a:hover{
  color: #888888;
}

.thumbnailimage{
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}

.thumbnailimage:hover{
  opacity: 0.7;
}

.thumbnail {
    flexGrow: 1;
    width: 33.3%;
    max-width: 33.3%;
    text-align: center;
    margin: 20px 0px 50px 0px;
}

/* For Thumbnail long*/

.thumbnail-long-wrapper {
    width: 100%;
    display: flex;
    transition: opacity 0.2s;
}

.thumbnail-long-caption{
  text-align: center;
}

.thumbnail-long-caption a{
  color: #000000;
  transition: color 0.2s;
  cursor: pointer;
}

.thumbnail-long-caption a:hover{
  color: #888888;
}

.thumbnail-long-wrapper:hover{
  opacity: 0.7;
}

.thumbnail-long-wrapper-wrapper {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.thumbnailimage-long{
  cursor: pointer;
  opacity: 1;
}

.thumbnail-long {
    flexGrow: 1;
    width: 33.5%;
    max-width: 33.5%;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

@media screen and (max-width: 740px) and (min-width: 540px) {
  .thumbnail {
    width: 50%;
    max-width: 50%;
  }

  .thumbnail-long-wrapper-wrapper {
    margin: 10px 0px 10px 0px;
  }

  .thumbnail-long-left {
    display: none;
  }
  .thumbnail-long {
    width: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 540px) {
  .thumbnail {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
  }

  .thumbnail-long-wrapper-wrapper {
    margin: 5px 0px 5px 0px;
  }

  .thumb-category-wrapper {
    margin-bottom: 40px;
  }

  .thumbnail-long-left {
    display: none;
  }

  .thumbnail-long-right {
    display: none;
  }

  .thumbnail-long {
    width: 100%;
    max-width: 100%;
  }
}
