.thumbnail a{
  color: #000000;
  transition: color 0.2s;
}

.thumbnail a:hover{
  color: #888888;
}

.thumbnail img{
  opacity: 1;
  transition: opacity 0.2s;
}

.thumbnail img:hover{
  opacity: 0.7;
}