.credit-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project-content .credit-person-wrapper {
  font-size: 0.8em;
  padding-right: 20px;
  margin-bottom: 10px;
  flex-grow: 1;
  max-width: 25%;
  min-width: 25%;
}

.project-content .credit-title {
  font-size: 0.8em;
  font-weight: 400;
  color: #a3a3a3;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}



@media screen and (max-width: 1100px) and (min-width: 740px) {
/*  .project-content .credit-person-wrapper {
    max-width: 33%;
    min-width: 50%;
  }*/
}

/* Hamburger menu appears at this point */
@media screen and (max-width: 740px) {
  .project-content .credit-person-wrapper {
    max-width: 25%;
    min-width: 25%;
  }
}


/* Hamburger menu appears at this point */
@media screen and (max-width: 420px) {
  .project-content .credit-person-wrapper {
    max-width: 35%;
    min-width: 35%;
  }
}