.credit-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project-content .credit-person-wrapper {
  font-size: 0.7em;
  padding-right: 20px;
  flex-grow: 1;
  max-width: 25%;
}

.project-content .credit-title {
  font-size: 0.6em;
  font-weight: 700;
}